<div>
    <img [src]="myimage" alt="" width="10px" height="650px"class="bg">
    <div class="text1">Not your average <br />
    wireless carrier
    </div>
    <button type="button" class="btn btn-success btn-lg" style="position: absolute; top: 400px; left:50px; height: 55px; width: 150px; background-color:#64FFB5; color: black;">
        <a class="tag"href="/create-user">
            Sign up
        </a>
</button>

</div>
<div class="bg2">
    <img [src]="myphone" alt="" width="55px" >  
    <p class="text2" >
 lateset<br />
    smarphones at<br />
    your fingertips</p>
</div>

<div class="bg3">
    <img [src]="myfiveg" alt="" width="75px" >  
    <p class="text2" >
    Expansive 5G<br />
    network</p>
</div>

<div class="bg4">
    <img [src]="mybar" alt="" width="55px" >  
    <p class="text2" >
    International<br />
    calls for free</p>
</div>